/********************
Gray Section + White Section
*********************/

.gray-section{
  border-top: var(--divider) 1px solid;
  border-bottom: var(--divider) 1px solid;
  background-color: var(--light-gray);
  color: var(--dark-text);
  padding: 15px 5px 0px 0px;
  text-align: center;
}

.white-section{
  border-top: var(--divider) 1px solid;
  border-bottom: var(--divider) 1px solid;
  color: var(--dark-text);
  padding: 15px 5px 0px 0px;
  text-align: center;
}
  
  #button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    outline: none;
    height: 45px;
}

.dropbtn {
    margin-top: 15px;
    margin-right: 10%;
    text-align: center;
    /* padding: 18px; */
    width: 100%;
    border: none;
    outline: none;
    /* font-size: 15px; */
    cursor: pointer;
    color: var(--dark-accent);
    height: 70px;
    background-color: transparent;
    background-repeat:no-repeat;
    white-space: nowrap;   
  }
.logoutbtn{
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--dark-accent);
    height: 70px;
    background-color: transparent;
    background-repeat:no-repeat;
    text-align: center;
}
.addAlbum{
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--dark-accent);
    height: 30px;
    background-color: transparent;
    background-repeat:no-repeat;
    position: relative;

}
/* .logoutbtn:hover{ 
    color: var(--light-accent);
    cursor: pointer;} */

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--light-gray);
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
    padding: 0px;
    display: block;
  }

.dropdown-content button{
    /* color: black; */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.addAlbum:hover{background-color: #f0f5f5;}
.logoutbtn:hover{background-color: #f0f5f5;}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #f0f5f5;}
