body {    
    height: 100%;
    margin: 0;
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    font-size: 100%;
    color: var(--dark-text);
    overflow-x: hidden;
}

/********************
LINKS
*********************/

a {
    font-size: 140%;
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: var(--light-accent);
}

/********************
BUTTONS
*********************/

.btn {
    text-align: center;
    width: 100px;
    padding: 8px;
    margin: 5px;
    border: none;
    font-size: 100%;
    font-weight: 400;
    font-family: "Lato", sans-serif;
}

.btn:hover {
    cursor: pointer;
    color: var(--white);
}

.btn:active {
    transform: translateX(1px);
}

.btn-secondary {
    background-color: var(--dark-text);
    color: var(--white);
}

.btn-secondary:hover {
    background-color: var(--gray);
}

.btn-primary {
    background-color: var(--light-accent);
    color: var(--white);
}

.btn-primary:hover {
    background-color: var(--mid-accent);
}

/********************
SIDEBAR
*********************/

#sidenav {
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: var(--black);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10%;
}

#sidenav a {
    display: block;
    padding: 12px 8px 8px 32px;
}

#nav-close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/****************************************
MAIN CONTAINER (whole page without sidebar)
*****************************************/

#main-container {
    transition: margin-left .5s;
}

/********************
HEADER
*********************/

header {
    display: flex;
    flex-direction: row;
}

/********************
Menu title + Sidebar Button
*********************/

#menu-title-sidebar {
    margin-top: 25px;
    margin-left: 25px;
    color: var(--dark-accent);
}

#menu-title-sidebar:hover {
    color: var(--light-accent);
    cursor: pointer;
}

#menu-span {
    font-size: 150%;
    font-weight: 600;
}

/********************
Website Title + Logo
*********************/

#title-logo {
    letter-spacing: 0.1em;
    margin-top: 15px;
    margin-left: 40%;
    text-align: center;
    line-height: 90%;
    font-size: 130%;
    color: var(--dark-accent);
}

#title-logo h1{
    margin-block-start: 15px;
}
/**************
Account button
***************/
#account{
    letter-spacing: 0.1em;
    margin-top: 0px;
    margin-right: 15px;
    margin-left: auto;
    text-align: center;
    line-height: 90%;
    font-size: 130%;
    color: var(--dark-accent);
}

#account:hover {
    color: var(--light-accent);
    cursor: pointer;
}

/********************
Gray Section
*********************/

.gray-section{
    border-top: var(--divider) 1px solid;
    border-bottom: var(--divider) 1px solid;
    background-color: var(--light-gray);
    color: var(--dark-text);
    padding: 15px 5 0px;
    text-align: center;
}

/********************
Welcome Paragraph + Pic
*********************/

.gray-paragraph-with-pic {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 120%;
}

.gray-paragraph-with-pic img {
    max-width: 40%;
}

/********************
SEARCHBAR DIV
*********************/

#div-searchbar {
    width: 60%;
    margin: auto;
    padding: 30px;
    margin-top: -40px;
    text-align: center;
    margin-bottom: 2%;
    outline: none;
    background-color: transparent;
    background-repeat:no-repeat;
    vertical-align: auto;
}

input[type="text"] {
    border: none;
    border-bottom: var(--dark-accent) 1px solid;
    font-family: "Lato", sans-serif;
}

.input-search {
    width: 80%;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 110%;
    outline: none;
    background-color: transparent;
}

.btn-search {
    font-size: 160%;
    color: var(--dark-accent);
    background-color: var(--white);
    border: none;
    outline: none;
    background-color: transparent;
}

.btn-search:hover {
    cursor: pointer;
    color: var(--light-accent);
}

.checkboxes {
    line-height: 150%;
    width: 60%;
    margin: auto;
    align-items: center;
    vertical-align: middle;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    white-space: nowrap;
}

/****************************************
REGISTER AND LOGIN FORMS
*****************************************/

.pop-up-form {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
.pop-up-form-content {
    width: 40%;
    margin: auto;
    padding: 20px;
    background-color: var(--white);
    border: 1px solid var(--mid-gray);
    text-align: center;
}

/********************
Input for register,login and add album forms
*********************/

.form-login-register {
    width: 50%;
    margin: auto;
    display: grid;
}
.form-addAlbum{
    width: 50%;
    margin: auto;
    display: grid; 
}

.input-form {
    font-size: 105%;
    margin-top: 2em;
}

/********************
Buttons for register and login forms
*********************/

.btn-form {
    width: 100%;
    margin: 2em 0 2em 0;
}

/********************
CLOSE BUTTONS for forms
*********************/
  
.close-register-form, .close-login-form, .close-addAlbum-form {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close-register-form:hover,
.close-register-form:focus,
.close-login-form:hover,
.close-login-form:focus,
.close-addAlbum-form:hover,
.close-addAlbum-form:focus {
    color: var(--black-text);
    text-decoration: none;
    cursor: pointer;
}


/* de pe w3 school de la sidebar: */
/* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}   */
