/********************
Create gray background
*********************/

html {
    background-color: var(--light-gray);
}

header {
    background-color: var(--white);
}

.gray-section {
    text-align: center;
    border-bottom: 0;
}

/********************
Card (picture + info)
*********************/

.card {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/********************
Card Information (table + button)
*********************/

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-info .btn {
    width: 60%;
    margin: 0;
    margin-top: 3em;
}

/********************
Card Picture
*********************/

.card img {
    margin-top: 20px;
    max-height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/********************
Table updated CSS
Other CSS is inherited from top-plants.css
*********************/
table {
    font-size: 110%;
}

th {
    font-size: 100%;
}

tr {
    font-weight: 600;
}

/* RESPONSIVENESS */

@media screen and (max-width: 1000px) {

    .card {
        margin-top: 20px;
        margin-bottom: 20px;
        flex-direction: column;
    }

    .card-info .btn {
        width: 100%;
        margin-top: 1em;
    }
   
}

@media screen and (max-width: 1300px) {

    .card {
        width: 70%;
    }

    .card img {
        max-height: 500px;
    }

    .card-info .btn {
        font-size: 110%;
    }
}