.stats {
    margin: auto;
    width: 80%;
}

.charts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.stats-tables {
    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-evenly;
}

.stats-container {
    border-top: var(--divider) 1px solid;
    border-bottom: var(--divider) 1px solid;
    background-color: var(--light-gray);
    color: var(--dark-text);
    padding: 15px 5 0px;
    text-align: center;
}

#save-pdf, #save-csv {
    background: none;
    border: none;
    color: var(--light-accent);
    font-size: 120%;
    font-family: "Lato", sans-serif;
}

#save-pdf:hover, #save-csv:hover {
    cursor: pointer;
    font-weight: 700;
}

h2 {
    padding: 0;
    text-align: center;
}

/* RESPONSIVENESS */

@media screen and (max-width: 1800px) {
    .charts{
      flex-direction: column;
    }
}

@media screen and (max-width: 1600px) {
    .stats-tables {
        display: grid;
        grid-gap: 3em;
    }
}