<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home | Planty</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../style/global.css">
</head>

<body>
    <header>
    </header>

    <aside id="sidenav">
        <a href="javascript:void(0)" id="nav-close-btn" onclick="closeNav()">&times;</a>
        <a href="#">Home</a>
        <a href="#">Top Plants</a>
        <a href="#">Statistics</a>
      </aside>
      
      <div id="main-container">
        <span id="nav-open-btn" onclick="openNav()">&#9776; </span>
        <span id="menu-span"> Menu </span>
        <h2>Planty - Title and Logo </h2>
      </div>
      
      <script src='../js/index.js'> </script>

</body>

</html>