<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home | Planty</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/variables.css">
    <link rel="stylesheet" href="../style/top-plants.css">
    <link rel="stylesheet" href="../style/plant.css">
</head>

<body>

    <aside id="sidenav">
        <a href="javascript:void(0)" id="nav-close-btn" onclick="closeNav()">&times;</a>
        <a href="./index.html">Home</a>
        <a href="./top-plants.html">Top Plants</a>
        <a href="#">Statistics</a>
    </aside>

    <div id="main-container">

        <!-- HEADER -->
        <header>
            <div id="menu-title-sidebar" onclick="openNav()">
                <span style="font-size: 30px;">&#9776; </span>
                <span id="menu-span"> Menu </span>
            </div>
            <div id="title-logo">
                <h1>Planty</h1>
                <h3>love for plants</h3>
            </div>
        </header>

        <!-- WELCOME SECTION -->
        <div class="gray-section">
            <div class="card">
                <div class="card-info">
                    <table>
                        <table>
                            <tr>
                                <th> Scientific Name </th>
                                <td><em> Chenopodium wolffii  </em></td>
                            </tr>
                            <tr>
                                <th> Family </th>
                                <td><em> Amaranthaceae  </em></td>
                            </tr>
                            <tr>
                                <th> Collection </th>
                                <td><em> ADMONT-Obersteiermark 100825. </em></td>
                            </tr>
                            <tr>
                                <th> Location </th>
                                <td><em> Austria / Steiermark  </em></td>
                            </tr>
                            <tr>
                                <th> Collector </th>
                                <td><em> Christenhuis, M.J.M. </em></td>
                            </tr>
                        </table>
                    </table>
                    <a href="#" class="btn btn-primary">
                        Add to album
                    </a>
                </div>
                <img src="./images/plant1.png">
            </div>
        </div>
    </div>

    <script src='../js/index.js'> </script>

</body>

</html>