<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home | Planty</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/variables.css">
    <link rel="stylesheet" href="../style/top-plants.css">
    <link rel="stylesheet" href="../style/global_responsive.css">
</head>

<body>

    <aside id="sidenav">
        <a href="javascript:void(0)" id="nav-close-btn" onclick="closeNav()">&times;</a>
        <a href="./index.php">Home</a>
        <a href="./top-plants.html">Top Plants</a>
        <a href="./statistics.html">Statistics</a>
    </aside>

    <div id="main-container">

        <!-- HEADER -->
        <header>
            <div id="menu-title-sidebar" onclick="openNav()">
                <span style="font-size: 30px;">&#9776; </span>
                <span id="menu-span"> Menu </span>
            </div>
            <div id="title-logo">
                <h1>Planty</h1>
                <h3>love for plants</h3>
            </div>
        </header>

        <!-- WELCOME SECTION -->
        <div class="gray-section">
            <h2> Top Plants on Planty </h2>
            <h3> All time popular plants (that appear in most albums) </h3>
            <div>
                <table>
                    <tr>
                        <th> Number </th>
                        <th> Plant Name </th>
                        <th> Albums </th>
                    </tr>
                    <!-- aici o sa vina datele din baza de date, momentan hardcodam -->
                    <tr>
                        <td> 1 </td>
                        <td> <a href="#">Allium flavescens</a></td>
                        <td> 25 </td>
                    </tr>
                    <tr>
                        <td> 2 </td>
                        <td> <a href="#">Chenopodium wolffii</a></td>
                        <td> 22 </td>
                    </tr>
                    <tr>
                        <td> 3 </td>
                        <td> <a href="#">Galanthus nivalis</a></td>
                        <td> 20 </td>
                    </tr>
                    <tr>
                        <td> 4 </td>
                        <td> <a href="#">Daucus carota subsp. carota</a></td>
                        <td> 18 </td>
                    </tr>
                    <tr>
                        <td> 5 </td>
                        <td> <a href="#">Artemisia eriantha</a></td>
                        <td> 14 </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script src='../js/index.js'> </script>

</body>

</html>