<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home | Planty</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/variables.css">
    <link rel="stylesheet" href="../style/album.css">
</head>

<body>

    <aside id="sidenav">
        <a href="javascript:void(0)" id="nav-close-btn" onclick="closeNav()">&times;</a>
        <a href="./index.html">Home</a>
        <a href="./top-plants.html">Top Plants</a>
        <a href="#">Statistics</a>
    </aside>

    <div id="main-container">

        <!-- HEADER -->
        <header>
            <div id="menu-title-sidebar" onclick="openNav()">
                <span style="font-size: 30px;">&#9776; </span>
                <span id="menu-span"> Menu </span>
            </div>
            <div id="title-logo">
                <h1>Planty</h1>
                <h3>love for plants</h3>
            </div>
        </header>

        <!-- WELCOME SECTION -->
        <div class="gray-section">
            <h2> Name of Album </h2>
            <!-- PLANT ALBUM -->
            <div class="album">
                <div class="card">
                    <img src="./images/plant1.png" alt="Album">
                    <div>
                        <h3> <a href="#"> <em>Agrostis alba L.</em></a></h3>
                    </div>
                </div>
                <div class="card">
                    <img src="./images/plant2.png" alt="Album">
                    <div>
                        <h3> <a href="#"> <em>Abies pectinata (Lam.) Lam. & A. DC.</em></a></h3>
                    </div>
                </div>
                <div class="card">
                    <img src="./images/plant3.png" alt="Album">
                    <div>
                        <h3> <a href="#"> <em>Agrostis canina L.</em></a></h3>
                    </div>
                </div>
                <div class="card">
                    <img src="./images/plant4.png" alt="Album">
                    <div>
                        <h3> <a href="#"> <em>Agrostis rupestris All.</em></a></h3>
                    </div>
                </div>
                <div class="card">
                    <img src="./images/plant1.png" alt="Album">
                    <div>
                        <h3> <a href="#"> <em>Agrostis alba L.</em></a></h3>
                    </div>
                </div>
                <div class="card">
                    <img src="./images/plant3.png" alt="Album">
                    <div>
                        <h3> <a href="#"> <em>Agrostis canina L.</em></a></h3>
                    </div>
                </div>
                <div class="card">
                    <img src="./images/plant1.png" alt="Album">
                    <div>
                        <h3> <a href="#"> <em>Agrostis alba L.</em></a></h3>
                    </div>
                </div>
                <div class="card">
                    <img src="./images/plant2.png" alt="Album">
                    <div>
                        <h3> <a href="#"> <em>Abies pectinata (Lam.) Lam. & A. DC.</em></a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src='../js/index.js'> </script>

</body>

</html>